*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
  font-family: Mukta, sans-serif;
  display: grid;
  justify-content: center;
  align-items: center;
  color: #4f546c;
  font-size: 1rem;
  background-color: #f9fbff;
  width: 100vw;
}
table {
  width: 95vw;
  border-radius: 5px;
  border-collapse: collapse;
  box-shadow: 0 5px 10px #e1e5ee;
  background-color: white;
  text-align: left;
  overflow: hidden;
}
thead {
  border-radius: 5px 5px 0 0;
}
.thead-shadow {
  box-shadow: 0 5px 10px #e1e5ee;
}
th {
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 900;
  background-color: #c8e6c938;
}
.border-radius-top-left {
  border-radius: 5px 0 0 0;
}
.border-radius-top-right {
  border-radius: 0 5px 0 0;
}
td {
  padding: 1rem 2rem;
}
caption {
  font-size: 3rem;
  margin: 15px;
}
#selector-xml-button {
  background-color: #efefef;
  color: #4f546c;
  width: 30rem;
  height: 3rem;
  border: 3px solid #4f546c;
  border-radius: 48px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 900;
}
#selector-xml-button:hover {
  transform: scale(1.01);
  background-color: #f3faf3;
}
#selector-xml-button:active {
  color: white;
  background-color: #4f546c;
}
#submit-xml-button {
  margin-left: 3rem;
  margin-right: 3rem;
  width: 30rem;
  height: 3rem;
  border: 3px solid #4f546c;
  border-radius: 48px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 900;
  color: #4f546c;
}
#submit-xml-button:hover {
  transform: scale(1.01);
  background-color: #f3faf3;
}
#submit-xml-button:active {
  color: white;
  background-color: #4f546c;
}
#download-xml-button {
  width: 30rem;
  height: 3rem;
  border: 3px solid #4f546c;
  border-radius: 48px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 900;
  color: #4f546c;
}
#download-xml-button:hover {
  transform: scale(1.01);
  background-color: #f3faf3;
}
#download-xml-button:active {
  color: white;
  background-color: #4f546c;
}
.rows-disable {
  background-color: #ffcdd28e;
}
.amount {
  text-align: right;
}
#upload-form {
  margin: 30px;
  text-align: center;
  text-align: -moz-center;
}
.tooltip {
  position: relative;
}
.tooltip:hover {
  border-radius: 5px;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 130px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
  word-wrap: break-word;
}
.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.tooltip:hover {
  background-color: #b3a3a36e;
}
input[type='checkbox'] {
  width: 1.1rem;
  height: 1.1rem;
}
